@import "tailwindcss";

:root {
  --forBackground: #fafafa;
  --forColor: #1e1e1e;
}
h1,
h2,
h3,
h4 {
  font-family: var(--font-montserrat);
  font-weight: bold;
}

body {
  background-color: var(--forBackground);
  color: var(--forColor);
}
.aboutlist div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.aboutlist div h4 {
  font-family: var(--font-montserrat);
  font-weight: bold;
  font-size: 24px;
}
.aboutlist p {
  font-size: 16px;
  font-family: var(--font-albert);
}
.aboutlist {
  margin: 8px 0;
}
.fade {
  position: sticky;
  background: linear-gradient(
    90deg,
    #fafafa,
    transparent 30%,
    transparent 70%,
    #fafafa
  );
  pointer-events: none;
  inset: 0;
  width: 100%;
  bottom: 60px;
  height: 50px;
  z-index: 10;
}
nav::-webkit-scrollbar {
  display: none;
}
nav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
